.__topbar {
  width: 100%;
  height: 45px;
  background-color: #fff;
  position: relative;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.__topbar_icon {
  width: 45px;
  height: 45px;
  background-image: url("./arrow-help-center@.png");
  position: absolute;
  left: 0;
  background-size: 10px auto;
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(180deg);
  background-color: transparent;
  border: none;
  outline: none;
}

.__topbar_title {
  text-align: center;
  font-size: 15px;
  color: #333333;
}